body {margin:0px;font-size:large;}
input {font-size:1.2em;margin:0.5em;width:85%;}
#header {padding:0;}
#appIcon {height:36px;width:48;}
#exitApp {margin:0;float:right;}
#content {margin:0.2em;}
.hidden {visibility:collapse;display:none;}
.expose {visibility:visible;display:block;} /* Here for completeness only. */
.copyright {padding:5px;align:left;font-style:italic;font-size:small;}
.spacer {clear:both;margin:0.5em;}
