<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.bsdmasterindex.pg-arduino-toggle13"
        version     = "1.0"
        versionCode = "10" >
        <!-- versionCode is optional and Android only -->
        <preference name="phonegap-version" value="3.5.0" />

        <name>Phonegap Arduino Toggle13</name>
        <description>A simple phonegap App to toggle LED #13 on the Arduino Yun</description>
        <author href="http://bsdmasterindex.com" email="jessemonroy650@yahoo.com">
        Jesse Monroy
        </author>
        <gap:platform name="android" />
		<gap:platform name="ios" />

        <preference name="permissions" value="none"/>
		<preference name="fullscreen" value="false" /> <!-- all: hides the status bar at the top of the screen -->
        <gap:plugin name="org.apache.cordova.device" />
    </widget>
